<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpp.lsp.mapper.MenuMapper">

    <resultMap id="menuMap" type="com.zpp.lsp.pojo.Menu">
        <id property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="url" column="url"/>
        <result property="menuType" column="menu_type"/>
        <result property="visible" column="visible"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!-- 查找用户信息 -->
    <select id="getMenusByRoleId" resultMap="menuMap" resultType="com.zpp.lsp.pojo.Menu">
        SELECT
        zm.menu_id,
        zm.menu_name,
        zm.parent_id,
        zm.order_num,
        zm.url,
        zm.menu_type,
        zm.visible,
        zm.perms,
        zm.icon,
        zm.remark
        FROM
        zpp_menu zm
        LEFT JOIN
        zpp_role_menu zrm
        ON
        zm.menu_id = zrm.menu_id
        WHERE
        zrm.role_id=#{roleId}
        and
        zm.is_delete=0
        order by zm.menu_id desc
    </select>
    <select id="getMenuById" resultMap="menuMap" resultType="com.zpp.lsp.pojo.Menu">
        select
            menu_id,
            menu_name,
            parent_id,
            order_num,
            url,
            menu_type,
            visible,
            perms,
            icon,
            remark
        from
        zpp_menu
        where
        menu_id=#{menuId}
        and
        is_delete=0
    </select>

    <update id="deleteMenuById">
        update zpp_menu set is_delete=1 where menu_id=#{menuId}
    </update>
</mapper>