<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpp.lsp.mapper.OrderMapper">

    <resultMap id="orderInfoMap" type="com.zpp.lsp.pojo.OrderInfo">
        <id property="orderId" column="order_id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="buyerId" column="buyer_id"/>
        <result property="addressId" column="address_id"/>
        <result property="orderStatus" column="order_status"/>
        <result property="payStatus" column="pay_status"/>
        <result property="orderAmout" column="order_amout"/>
        <result property="payAmout" column="pay_amout"/>
        <result property="totalAmout" column="total_amout"/>
        <result property="payTime" column="pay_time"/>
        <result property="payNo" column="pay_no"/>
        <result property="createTime" column="create_time"/>
        <result property="deliveryType" column="delivery_type"/>
        <result property="deliveryStatus" column="delivery_status"/>
        <result property="sellerStatus" column="seller_status"/>
        <result property="remark" column="remark"/>
        <result property="buyerStatus" column="buyer_status"/>
        <result property="deliveryMoney" column="delivery_money"/>
        <result property="deliveryReceiveTime" column="delivery_receive_time"/>
        <result property="deliveryFinishTime" column="delivery_finish_time"/>
        <result property="sellerFinishTime" column="seller_finish_time"/>
        <result property="buyerFinishTime" column="buyer_finish_time"/>
    </resultMap>

    <resultMap id="orderMap" type="com.zpp.lsp.pojo.make.Order">
        <id property="orderId" column="order_id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="buyerId" column="buyer_id"/>
        <result property="addressId" column="address_id"/>
        <result property="orderStatus" column="order_status"/>
        <result property="payStatus" column="pay_status"/>
        <result property="orderAmout" column="order_amout"/>
        <result property="payAmout" column="pay_amout"/>
        <result property="totalAmout" column="total_amout"/>
        <result property="payTime" column="pay_time"/>
        <result property="payNo" column="pay_no"/>
        <result property="createTime" column="create_time"/>
        <result property="deliveryType" column="delivery_type"/>
        <result property="deliveryStatus" column="delivery_status"/>
        <result property="sellerStatus" column="seller_status"/>
        <result property="remark" column="remark"/>
        <result property="buyerStatus" column="buyer_status"/>
        <result property="deliveryMoney" column="delivery_money"/>
        <result property="deliveryReceiveTime" column="delivery_receive_time"/>
        <result property="deliveryFinishTime" column="delivery_finish_time"/>
        <result property="sellerFinishTime" column="seller_finish_time"/>
        <result property="buyerFinishTime" column="buyer_finish_time"/>
        <collection property="orderDetailList" ofType="com.zpp.lsp.pojo.make.OrderDetailMake">
            <id property="odetailId" column="odetailId"/>
            <result property="orderNumber" column="order_number"/>
            <result property="formatId" column="format_id"/>
            <result property="formatName" column="format_name"/>
            <result property="formatPrice" column="format_price"/>
            <result property="unitName" column="unit_name"/>
            <result property="methodId" column="method_id"/>
            <result property="goodsNum" column="goods_num"/>
            <result property="goodsPrice" column="goods_price"/>
            <result property="picUrl" column="pic_url"/>
            <result property="receiverName" column="receiver_name"/>
            <result property="receiverPhone" column="receiver_phone"/>
            <result property="addressName" column="address_name"/>
            <result property="goodsName" column="goods_name"/>
        </collection>
    </resultMap>

    <select id="getOrderList" resultMap="orderMap">
        select
            oi.order_id,
            oi.order_number,
            oi.create_time,
            oi.order_number,
            oi.order_status,
            oi.pay_amout,
            gp.pic_url
        from order_info oi
        left join order_detail od on oi.order_number=od.order_number
        left join goods_format gf on od.format_id=gf.format_id
        left join goods_picture gp on gf.goods_id=gp.goods_id and gp.is_main=1
        where
            oi.buyer_id={userId}
        and
        oi.is_delete=0
        <if test="orderStatus!='' and orderStatus!=null">
            and order_status=#{orderStatus}
        </if>
    </select>

    <select id="getOrderById" resultMap="orderMap">
        select
            oi.order_id,
            oi.order_number,
            oi.buyer_id,
            oi.address_id,
            oi.order_status,
            oi.pay_status,
            oi.order_amout,
            oi.pay_amout,
            oi.total_amout,
            oi.pay_time,
            oi.pay_no,
            oi.create_time,
            oi.delivery_type,
            oi.delivery_status,
            oi.seller_status,
            oi.remark,
            oi.buyer_status,
            oi.delivery_money,
            oi.delivery_receive_time,
            oi.delivery_finish_time,
            oi.seller_finish_time,
            oi.buyer_finish_time
            od.goods_num,
            od.goods_price,
            od.format_id,
            gf.format_name,
            gf.format_price,
            gu.unit_name,
            gp.pic_url,
            ua.address_name,
            ua.receiver_name,
            ua.receiver_phone
        from order_info oi
        left join order_detail od on oi.order_number=od.order_number
        left join goods_format gf on od.format_id=gf.format_id
        left join goods_unit gu on gu.unit_id=gf.unit_id
        left join goods_picture gp on gf.goods_id=gp.goods_id and gp.is_main=1
        left join user_address ua on ua.address_id=oi.address_id
    where oi.order_id=#{orderId}
    </select>

    <update id="deleteOrderById">
        update order_info set is_delete=1 where order_id=#{orderId}
    </update>
</mapper>