<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpp.lsp.mapper.RoleMapper">

    <resultMap id="roleMap" type="com.zpp.lsp.pojo.Role">
        <id property="roleId" column="role_id"/>
        <result property="parentRoleId" column="parent_role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="createTime" column="create_time"/>
        <result property="description" column="description"/>
    </resultMap>

    <!-- 查找角色信息 -->
    <select id="getRolesByStoreId" resultMap="roleMap" resultType="com.zpp.lsp.pojo.Role">
       SELECT
           zr.role_id,
           zr.parent_role_id,
           zr.role_name,
           zr.create_time,
           zr.description
       FROM
            zpp_role zr
       LEFT JOIN
            zpp_store_role zsr
       ON
            zr.role_id=zsr.role_id
       WHERE
            zsr.store_id=#{storeId}
       and
            zr.is_delete=0
       order by zr.role_id desc
    </select>

    <select id="getRoleById" resultMap="roleMap" resultType="com.zpp.lsp.pojo.Role">
        select 
            role_id,
            parent_role_id,
            role_name,
            create_time,
            description
        from 
        zpp_role
        where
        role_id=#{roleId}
        and 
        is_delete=0
    </select>

    <update id="deleteRoleById">
        update zpp_role set is_delete=1 where role_id=#{roleId}
    </update>
</mapper>