<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpp.lsp.mapper.StoreMapper">

    <!-- 根据角色id查找用户信息 -->
    <select id="getStoresByRoleId" resultType="com.zpp.lsp.pojo.Store">
       SELECT
       zs.store_id storeId,zs.store_name storeName
       FROM
       zpp_store zs
       LEFT JOIN
       zpp_store_role zsr
       ON
       zs.store_id=zsr.store_id
       WHERE
       zsr.role_id=#{roleId}
       and
       zd.is_delete=0
       order by zs.store_id desc
    </select>
    <!-- 查找用户信息 -->
    <select id="getStoreByStoreNameAndPassword" resultType="com.zpp.lsp.pojo.Store">
       select * from zpp_store where store_name=#{storeName} and store_password=#{storePassword}
    </select>
    <select id="getStoreById" resultType="com.zpp.lsp.pojo.Store">
        select
        *
        from
        zpp_store
        where
        store_id=#{storeId}
        and
        is_delete=0
    </select>
</mapper>